* {
    font-family: monospace
}

body {
    margin: 0px;
    font-size: 25px;
    background-color: #f1f2f3;

}

h1 {
    font-size: 50px;
    color: #79bb28;
    text-align: center;
    text-decoration-style: dashed;
}

header {
    height: 100vh;
    color: rgb(252, 248, 248);
    text-align: center;
    background-color: #2196f3;
    background-image: url(images/makka.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;


}

header h1 {

    color: rgb(220, 72, 72);
    margin: 0px;
    text-align: center;
}

.button {
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    background-color: #b8b4df;
}


.button:hover {
    background-color: #0b7dda;
}

img {
    height: 300px;
    width: auto;

}

main {}

section {
    height: 100vh;
    border: 1px solid rgb(152, 152, 195);
    border-radius: 0px;
    margin-bottom: 0px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

ul {
    list-style-type: none;

}

.submit {
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: #2196f3;

}

.submit:hover {

    background-color: #1472be;
}

input {
    border-radius: 5px;
    border: 1px solid lightgrey;
    height: 25px;
}

footer {
    height: 125px;
    background-color: black;
    color: lightgrey;
    text-align: center;
    background-image: url(images/mi.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#giribabu {
    background-image: url(images/makkaa.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #f1f2f3;
}

#skills {
    background-image: url(images/m.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

#project {
    background-image: url(images/mm.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

#contact {
    background-image: url(images/g.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}